<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="vkontakte">
<head>
<meta http-equiv="content-type" content="text/html; charset=windows-1251" />
<title>В Контакте | Видео</title>
<link rel="stylesheet" href="http://vkontakte.ru/css/rustyle.css?17" type="text/css" />
<link rel='stylesheet' href='http://vkontakte.ru/css/dialog2.css' type='text/css' /><link rel='stylesheet' href='http://vkontakte.ru/css/mail2.css' type='text/css' /><link rel='stylesheet' href='http://vkontakte.ru/css/rustylex.css' type='text/css' /><link rel='stylesheet' href='http://vkontakte.ru/css/search.css' type='text/css' /><link rel='stylesheet' href='http://vkontakte.ru/css/video.css?2' type='text/css' />

<link rel="shortcut icon" href="http://vkontakte.ru/images/favicon.ico" />
<!--[if lte IE 6]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(css/ie.css); /* ]]> */</style><![endif]-->
<!--[if gte IE 7]><style type="text/css" media="screen">/* <![CDATA[ */ @import url(css/ie7.css); /* ]]> */</style><![endif]-->
</head>

<body>

 <div id="pageLayout">

<!-- pageHeader -->

  <div id="pageHeader">

   <h1 id="home"><a href="http://vkontakte.ru/index.php">ВКонтакте</a></h1>

<div id="qfriends"></div>
<div id="qdropdown"></div>

<ul id="topNav" class="topNav">
 <li style="width:0.2em"></li>
  <li style="width:7.3em"><a href='http://vkontakte.ru/invite.php?'>пригласить</a></li>
 <li style="width:8.0em"><a href='http://vkontakte.ru/market.php?act=list'>объявления</a></li>
 <li style="width:4.7em"><a href='http://vkontakte.ru/people.php?'>люди</a></li>
 <li style="width:5.2em"><a href='http://vkontakte.ru/browse.php?'>группы</a></li>
 <li style="width:4.8em"><a href='http://vkontakte.ru/search.php?act=mixed&'>поиск</a></li>
</ul>


  </div>

<!-- End pageHeader -->

<!-- sideBar -->

  <div id="sideBar">

    <ol id='nav'>    
    <li id='vkontakte'><a href='http://vkontakte.ru'>ВКонтакте (С)</a></li>    
   </ol>
   
   
  </div>

<!-- End sideBar -->

<!-- pageBody -->

  <div id="pageBody" class="pageBody">

  <div id="wrapH">
  <div id="wrapHI">
   <div id="header">
    <h1> <a href="http://vkontakte.ru/club2698666">=~=~=~=~=~=~=~=~=~=~=~= ФИЛЬМЫ КУЛЬТОВЫХ РЕЖИССЁРОВ =~=~=~=~=~=~=~=~=~=~=~=</a> &raquo; Каталог фильмов</h1>

   </div>
  </div>
  </div>

  <div id="wrap2">
  <div id="wrap1">
   <div id="content">
 
 <div id="bigResult" class="searchResults clearFix" style="padding-top: 1px">
  <div class="column results">
   
   <div class="result_wrap" >
